<div style="width: 100%; height: 100%; background-color: cornsilk;">
    <div style="width: 100%; height: 20%; background-color: yellowgreen; float: left;">
    </div>
    <div style="width: 20%; height: 80%; background-color: coral; float: left;">
        <div style="background-color: #339bb9; width: 100%; height: 5.5vh; padding-top: 2.5vh;" align="center">
            <span style="font-size: 3vh;">功能菜单</span>
        </div>
        <a href= "templates/ImportData.html " target= "iFrame1"> 导入数据 </a>
        <a href= "templates/SignIn.html " target= "iFrame1"> 学生签到 </a>
        <a href= "templates/Vacation.html " target= "iFrame1"> 学生请假 </a>
        <a href= "templates/TransferCourses.html " target= "iFrame1"> 教师调课 </a>
    </div>
    <div style="width: 80%; height: 80%; float: left;">
        <iframe name="iFrame1" frameborder="no" scrolling="no" height="100%" width="100%" noresize="noresize"></iframe>
    </div>
</div>

<style>
    a:link{
        display: block;
        background-color: #f8b9b7;
        width: 90%;
        height: 5vh;
        margin-top: 10px;
        color: black;
        text-decoration: none;
        text-align: center;
        line-height: 5vh;
        border-radius: 10px;
        margin-left: 5%;
        margin-right: 5%;
    }
    a:visited{
        color: black;
        text-decoration: none;
    }
    a:hover{
        background-color: greenyellow;
    }
</style>